@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600|Roboto:400,300,700);

body {
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  color: #2A3744;
  line-height: 1.4;
  font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 14px;
}