doctype html
html(lang="ru")

  head
    title="Tuts+"
    = '\n'
    // Bootstrap styles
    link(href='/media/assets/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='/media/assets/bootstrap/css/bootstrap-theme.min.css', rel='stylesheet')
    = '\n'
    // Core styles
    link(href='/media/css/style.css', rel='stylesheet')
    = '\n'
    // Font Awesome
    link(href='/media/assets/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    = '\n'
    // Form Styler
    link(href='/media/assets/form-styler/jquery.formstyler.css', rel='stylesheet')
 
  body

    #page-wrapper

        include ./includes/head.jade

        #content.full-width.author-page
            .author-info
                .background
                .container
                    .row
                        .col-md-4
                        .col-md-8
                            .row.author-statistics
                                .col-sm-6
                                    h3 Кошелёк
                                    strong.counter.lime-text
                                        span 2 500
                                        em.fa.fa-ruble
                                .col-sm-3
                                    h3 Сообщения
                                    strong.counter
                                        a.white-text.messages-counter(href='#')
                                            span 53
                                            em.fa.fa-envelope-o
                                .col-sm-3
                                    h3 Подписчики
                                    strong.counter
                                        em.fa.fa-youtube-play
                                        span 212,109 

            .author-tabbed-menu
                .container
                    .row
                        .col-md-4
                        .col-md-8
                            ul
                                li
                                    a(href='#')
                                        em.fa.fa-bullhorn
                                        span Лента (100+)
                                li.active
                                    a(href='#')
                                        em.fa.fa-newspaper-o
                                        span Стена
                                li
                                    a(href='#')
                                        em.fa.fa-comments-o
                                        span Диалоги (+3)
                                li
                                    a(href='#')
                                        em.fa.fa-usd
                                        span Товары/Услуги (29)
                                li
                                    a(href='#')
                                        em.fa.fa-cog
                                        span Настройки

            .author-page-content
                .container
                    .col-md-4
                        div.block.author-bio.forced
                            div.block-title
                                img(src='/media/images/design-time/icons/pencil.svg')
                                span(title='Профессия') Веб Дизайнер
                                .rating(title='Рейтинг')
                                    .stars
                                        em.fa.fa-star
                                        em.fa.fa-star
                                        em.fa.fa-star
                                        em.fa.fa-star
                                        em.fa.fa-star
                            div.block-content
                                div.row
                                    div.col-sm-4
                                        img(src='/media/images/demo/authors/0.jpg')
                                    div.col-sm-8
                                        strong.name Abraham Tugalov 
                                            .offline Offline
                                        ul.info
                                            li
                                                strong Возраст:
                                                span 20
                                            li
                                                strong Статус:
                                                span Джедай
                                            li
                                                strong Спасибо:
                                                span 13 937
                                div.block-footer
                                    .row
                                        .col-md-6
                                            a.btn.subscribe-btn(href='#')
                                                em.fa.fa-youtube-play
                                                span Подписаться
                                        .col-md-6
                                            p Новые материалы автора у Вас в ленте!
                        div.block.special.no-padding
                            div.block-content
                                a.btn.blocky(href='#')
                                    em.fa.fa-video-camera
                                    span Организовать вебинар
                                    em.fa.fa-plus.pull-right
                        div.block.special.no-padding
                            div.block-content
                                a.btn.blocky(href='#')
                                    em.fa.fa-play
                                    span Опубликовать курс
                                    em.fa.fa-plus.pull-right
                        div.block.special.no-padding
                            div.block-content
                                a.btn.blocky(href='#')
                                    em.fa.fa-sticky-note-o
                                    span Добавить урок
                                    em.fa.fa-plus.pull-right
                        div.block.special.no-padding
                            div.block-content
                                a.btn.blocky(href='#')
                                    em.fa.fa-book
                                    span Загрузить книгу
                                    em.fa.fa-plus.pull-right
                        div.block.special.no-padding
                            div.block-content
                                a.btn.blocky(href='#')
                                    em.fa.fa-flask
                                    span Мои достижения (27)
                                    em.fa.fa-chevron-right.pull-right
                        div.block.special.no-padding
                            div.block-content
                                a.btn.blocky(href='#')
                                    em.fa.fa-group
                                    span Мои друзья/партнёры (137)
                                    em.fa.fa-chevron-right.pull-right
                        div.block.special.no-padding
                            div.block-content
                                a.btn.blocky(href='#')
                                    em.fa.fa-commenting-o
                                    span Отзывы обо мне (78)
                                    em.fa.fa-chevron-right.pull-right
                    .col-md-8
                        div.block.special.no-padding
                            div.block-content
                                form#post-status-form.post-status(action='#', method='POST')
                                    textarea(placeholder='Что нового?', required='')
                                    button.smiles-opener(type="button", data-smiles-container="#status-smiles-box")
                                        em.fa.fa-smile-o
                                    button(type='submit')
                                        em.fa.fa-pencil
                                        span Отправить
                                    div#status-smiles-box.smiles-container
                                        - var n = 1
                                        while n < 107
                                            img(src="/media/images/design-time/smiles/" + n++ + ".svg", data-smile="=)")
                        div.block.status
                            div.block-content.post-style Разнообразный и богатый опыт реализация намеченных плановых заданий требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании форм развития. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки существенных финансовых и административных условий. С другой стороны начало повседневной работы по формированию позиции способствует подготовки и реализации направлений прогрессивного развития.
                            div.block-meta
                                div.date
                                    em.fa.fa-clock-o
                                    span Сегодня в 10:17
                        div.block.status
                            div.block-content.post-style Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации соответствующий условий активизации. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности играет важную роль в формировании существенных финансовых и административных условий.
                            div.block-meta
                                div.date
                                    em.fa.fa-clock-o
                                    span Вчера в 17:18



        include ./includes/footer.jade