// includes/head.jade
header#header
    .container
        .row
            div.col-md-3
                a#logo(href='#')
                    img(src='/media/images/logo.svg')
            div.col-md-9
                #top-nav.pull-right
                    ul
                        li.special-1
                            a(href='#', title='Войти по Email') Авторизация
                        li.divider или
                        li
                            .social-links
                                a.vk(href='#', title='Войти через Вконтакте')
                                    em.fa.fa-vk
                                a.facebook(href='#', title='Войти через Фейсбук')
                                    em.fa.fa-facebook
                                a.twitter(href='#', title='Войти через Твиттер')
                                    em.fa.fa-twitter
                        li.special-2
                            a(href='#', title='Регистрация по Email')
                                em.fa.fa-key
                                span Регистрация
        .row.level-2
            div.col-md-9
                #main-nav
                    ul

                        li
                            a(href='#') Уроки
                                em(class='fa fa-chevron-down')

                            ul.expended
                                li.hover
                                    a(href='#') Дизайн
                                        em(class='fa fa-chevron-right')

                                    div.topics
                                        ul
                                            li
                                                a(href='#') Векторы
                                            li
                                                a(href='#') Adobe Photoshop
                                            li
                                                a(href='#') Adobe Illustrator
                                            li
                                                a(href='#') Иллюстрации
                                            li
                                                a(href='#') Советы
                                            li
                                                a(href='#') Вдохновление
                                            li
                                                a(href='#') Новости
                                            li
                                                a(href='#') Рисование
                                            li
                                                a(href='#') Эффекты Текста
                                            li
                                                a(href='#') Материал
                                        a(href='#') Смотреть все уроки ...
                                li
                                    a(href='#') Кодинг
                                        em(class='fa fa-chevron-right')

                                    div.topics.teal
                                        ul
                                            li
                                                a(href='#') Веб Разработка
                                            li
                                                a(href='#') WordPress
                                            li
                                                a(href='#') Моб. Приложения
                                            li
                                                a(href='#') PHP
                                            li
                                                a(href='#') Flash
                                            li
                                                a(href='#') Java Script
                                            li
                                                a(href='#') CMS
                                            li
                                                a(href='#') iOS SDK
                                            li
                                                a(href='#') Android SDK
                                            li
                                                a(href='#') Новости
                                        a(href='#') Смотреть все уроки ...
                                li
                                    a(href='#') Веб Дизайн
                                        em(class='fa fa-chevron-right')

                                    div.topics.teal-green
                                        ul
                                            li
                                                a(href='#') CSS
                                            li
                                                a(href='#') HTML & CSS
                                            li
                                                a(href='#') HTML
                                            li
                                                a(href='#') Adobe Photoshop
                                            li
                                                a(href='#') Готовые Вебсайты
                                            li
                                                a(href='#') UI Дизайн
                                            li
                                                a(href='#') Советы
                                            li
                                                a(href='#') Теория Дизайна
                                            li
                                                a(href='#') Общее
                                            li
                                                a(href='#') JavaScript
                                        a(href='#') Смотреть все уроки ...
                                li
                                    a(href='#') Фото и Видео
                                        em(class='fa fa-chevron-right')

                                    div.topics.purple
                                        ul
                                            li
                                                a(href='#') Съемка
                                            li
                                                a(href='#') Обработка
                                            li
                                                a(href='#') Обзоры
                                            li
                                                a(href='#') Adobe Photoshop
                                            li
                                                a(href='#') Как сделать
                                            li
                                                a(href='#') Свет
                                            li
                                                a(href='#') Вдохновление
                                            li
                                                a(href='#') Adobe Lightroom
                                            li
                                                a(href='#') Фотография
                                            li
                                                a(href='#') Видео
                                        a(href='#') Смотреть все уроки ...
                                li
                                    a(href='#') Музыка и Аудио
                                        em(class='fa fa-chevron-right')

                                    div.topics.sea
                                        ul
                                            li
                                                a(href='#') Запись
                                            li
                                                a(href='#') Общее
                                            li
                                                a(href='#') Logic Pro
                                            li
                                                a(href='#') Советы
                                            li
                                                a(href='#') Мастеринг
                                            li
                                                a(href='#') Open Mic
                                            li
                                                a(href='#') Дизайн Звука
                                            li
                                                a(href='#') Ableton Live
                                            li
                                                a(href='#') Обзоры
                                            li
                                                a(href='#') Новости
                                        a(href='#') Смотреть все уроки ...
                                li
                                    a(href='#') 3D и Моушн Дизайн
                                        em(class='fa fa-chevron-right')

                                    div.topics.tomato
                                        ul
                                            li
                                                a(href='#') Adobe After Effects
                                            li
                                                a(href='#') 3D
                                            li
                                                a(href='#') Моушн Дизайн
                                            li
                                                a(href='#') 3D Studio Max
                                            li
                                                a(href='#') Maya
                                            li
                                                a(href='#') Cinema 4D
                                            li
                                                a(href='#') Советы
                                            li
                                                a(href='#') Новости
                                            li
                                                a(href='#') Эффекты
                                            li
                                                a(href='#') Футажи
                                        a(href='#') Смотреть все уроки ...
                                li
                                    a(href='#') Разработка Игр
                                        em(class='fa fa-chevron-right')

                                    div.topics.green
                                        ul
                                            li
                                                a(href='#') Гейм Дизайн
                                            li
                                                a(href='#') Кодинг
                                            li
                                                a(href='#') Платформы
                                            li
                                                a(href='#') Маркетинг
                                            li
                                                a(href='#') Flash
                                            li
                                                a(href='#') С нуля
                                            li
                                                a(href='#') HTML 5
                                            li
                                                a(href='#') Construct 2
                                            li
                                                a(href='#') Новости
                                            li
                                                a(href='#') Советы
                                        a(href='#') Смотреть все уроки ...
                                li
                                    a(href='#') Компьютер
                                        em(class='fa fa-chevron-right')

                                    div.topics.blue
                                        ul
                                            li
                                                a(href='#') OS X
                                            li
                                                a(href='#') Тренинги
                                            li
                                                a(href='#') Продуктивность
                                            li
                                                a(href='#') Советы
                                            li
                                                a(href='#') Электроника
                                            li
                                                a(href='#') Автоматизация
                                            li
                                                a(href='#') Защита
                                            li
                                                a(href='#') Офис
                                            li
                                                a(href='#') Железо
                                            li
                                                a(href='#') Mac
                                        a(href='#') Смотреть все уроки ...
                                li
                                    a(href='#') Бизнес
                                        em(class='fa fa-chevron-right')

                                    div.topics.orange
                                        ul
                                            li
                                                a(href='#') Фриланс
                                            li
                                                a(href='#') Маркетинг
                                            li
                                                a(href='#') Планирование
                                            li
                                                a(href='#') Финансы
                                            li
                                                a(href='#') Коммуникация
                                            li
                                                a(href='#') Продажи
                                            li
                                                a(href='#') SEO
                                            li
                                                a(href='#') Карьерный Рост
                                            li
                                                a(href='#') Продуктивность
                                            li
                                                a(href='#') Советы
                                        a(href='#') Смотреть все уроки ...
                        li
                            a(href='#') Курсы
                                em(class='fa fa-chevron-down')

                            ul
                                li
                                    a(href='#') Дизайн
                                li
                                    a(href='#') Кодинг
                                li
                                    a(href='#') Веб дизайн
                                li
                                    a(href='#') Фото и Видео
                                li
                                    a(href='#') Музыка и Аудио
                                li
                                    a(href='#') 3D & Моушн Графика
                                li
                                    a(href='#') Разработка игр
                                li
                                    a(href='#') Компьютер
                                li
                                    a(href='#') Бизнес
                        li
                            a(href='#') Вебинары
                        li
                            a#mobile-search(href='#')
                                em.fa.fa-search

            div.col-md-3
                #top-search.pull-right
                    form(action='#', method='GET')
                        button(type='submit')
                            em.fa.fa-search
                        input(type='text', name='s', placeholder='Поиск ...')