{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div id="content" class="full-width">
<div class="master-head special-1">
  <div class="block-overlay"></div>
  <div class="container">
    <div class="master-content">
      <h1>Если хочешь учиться или обучаться, тебе к нам!</h1>
      <p>У нас представлены тысячи уроков, курсов и вебинаров, что-бы ты смог научиться чему хочешь!</p>
      <div class="row divided">
        <div class="col-sm-6"><a href="#" class="btn learner-btn">Хочу учиться</a>
          <p>Стань учеником, изучай новые технологии, общайся с менторами в онлайн чате, посещай вебинары.<br>Стань экспертом в своей области!</p>
        </div>
        <div class="col-sm-6"><a href="#" class="btn mentor-btn">Хочу обучать</a>
          <p>Стань ментором, обучай навыкам, рассказывай про технологии, проводи вебинары, пиши уроки.<br>Стань примером для всех!</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="heading centered special-1">
    <div class="center">
      <h2><em class="fa fa-globe"></em><span>Сферы деятельности</span></h2>
    </div>
    <ul>
      <li><a href="#">Разработка сайтов</a></li>
      <li><a href="#">Тексты</a></li>
      <li><a href="#">Дизайн и Арт</a></li>
      <li><a href="#">Программирование</a></li>
      <li><a href="#">Аутсорсинг и консалтинг</a></li>
      <li><a href="#">Переводы</a></li>
      <li><a href="#">Разработка игр</a></li>
      <li><a href="#">Аудио и Видео</a></li>
      <li><a href="#">3D Графика</a></li>
      <li><a href="#">Инжиниринг</a></li>
      <li><a href="#">Фотография</a></li>
      <li><a href="#">Анимация и флеш</a></li>
      <li><a href="#">Реклама и Маркетинг</a></li>
      <li><a href="#">Обучение и консультация</a></li>
      <li><a href="#">Архитектура/Интерьер</a></li>
      <li><a href="#">Полиграфия</a></li>
      <li><a href="#">Менеджмент</a></li>
      <li><a href="#">Оптимизация (SEO)</a></li>
      <li><a href="#">Мобильные приложения</a></li>
      <li><a href="#">Сети и инфосистемы</a></li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="heading single">
    <h2><em class="fa fa-youtube-play"></em><span>Популярные курсы</span></h2>
    <div class="center">
      <p>Их смотрят больше всего!</p>
    </div>
  </div>
  <div class="courses layout-type-1 row">
    <article>
      <div><a href="#"><img src="/media/images/demo/1.png"><em class="fa sticky fa-play-circle-o"></em></a><a href="#">JavaScript ES6 Fundamentals</a>
        <p>Dan Wellman, Front-End Web Developer</p>
      </div>
    </article>
    <article>
      <div><a href="#"><img src="/media/images/demo/2.jpg"><em class="fa sticky fa-play-circle-o"></em></a><a href="#">Building WordPress Themes With Bootstrap</a>
        <p>Dan Wellman, Front-End Web Developer</p>
      </div>
    </article>
    <article>
      <div><a href="#"><img src="/media/images/demo/3.jpg"><em class="fa sticky fa-play-circle-o"></em></a><a href="#">Mastering Script Lettering</a>
        <p>Dan Wellman, Front-End Web Developer</p>
      </div>
    </article>
    <article>
      <div><a href="#"><img src="/media/images/demo/1.png"><em class="fa sticky fa-play-circle-o"></em></a><a href="#">JavaScript ES6 Fundamentals</a>
        <p>Dan Wellman, Front-End Web Developer</p>
      </div>
    </article>
    <article>
      <div><a href="#"><img src="/media/images/demo/2.jpg"><em class="fa sticky fa-play-circle-o"></em></a><a href="#">Building WordPress Themes With Bootstrap</a>
        <p>Dan Wellman, Front-End Web Developer</p>
      </div>
    </article>
    <article>
      <div><a href="#"><img src="/media/images/demo/3.jpg"><em class="fa sticky fa-play-circle-o"></em></a><a href="#">Mastering Script Lettering</a>
        <p>Dan Wellman, Front-End Web Developer</p>
      </div>
    </article>
  </div>
</div>
<div class="container">
  <div class="heading single">
    <h2><em class="fa fa-youtube-play"></em><span>Новейшие курсы</span></h2>
    <div class="center">
      <p>На волне тренда!</p>
    </div>
  </div>
  <div class="courses layout-type-1 row">
    <article>
      <div><a href="#"><img src="/media/images/demo/1.png"><em class="fa sticky fa-play-circle-o"></em></a><a href="#">JavaScript ES6 Fundamentals</a>
        <p>Dan Wellman, Front-End Web Developer</p>
      </div>
    </article>
    <article>
      <div><a href="#"><img src="/media/images/demo/2.jpg"><em class="fa sticky fa-play-circle-o"></em></a><a href="#">Building WordPress Themes With Bootstrap</a>
        <p>Dan Wellman, Front-End Web Developer</p>
      </div>
    </article>
    <article>
      <div><a href="#"><img src="/media/images/demo/3.jpg"><em class="fa sticky fa-play-circle-o"></em></a><a href="#">Mastering Script Lettering</a>
        <p>Dan Wellman, Front-End Web Developer</p>
      </div>
    </article>
    <article>
      <div><a href="#"><img src="/media/images/demo/1.png"><em class="fa sticky fa-play-circle-o"></em></a><a href="#">JavaScript ES6 Fundamentals</a>
        <p>Dan Wellman, Front-End Web Developer</p>
      </div>
    </article>
    <article>
      <div><a href="#"><img src="/media/images/demo/2.jpg"><em class="fa sticky fa-play-circle-o"></em></a><a href="#">Building WordPress Themes With Bootstrap</a>
        <p>Dan Wellman, Front-End Web Developer</p>
      </div>
    </article>
    <article>
      <div><a href="#"><img src="/media/images/demo/3.jpg"><em class="fa sticky fa-play-circle-o"></em></a><a href="#">Mastering Script Lettering</a>
        <p>Dan Wellman, Front-End Web Developer</p>
      </div>
    </article>
  </div>
</div>
<div class="container">
  <div class="heading single">
    <h2><em class="fa fa-book"></em><span>Новые уроки</span></h2>
    <div class="center">
      <p>Гранит науки не устоит!</p>
    </div>
  </div>
  <div class="courses layout-type-2 row">
    <div class="col-md-3 col-sm-6">
      <article>
        <div class="poster"><a href="#"><img src="/media/images/demo/courses/1.png"></a>
          <div class="author"><a href="#author"><img src="/media/images/demo/authors/1.jpg"></a></div>
        </div>
        <div class="details"><a href="#" class="categorie">Web Design</a><a href="#" class="link">Scroll Events Made Easy</a>
          <p>Craig Campbell - 23 Feb 2016</p>
        </div>
      </article>
    </div>
    <div class="col-md-3 col-sm-6">
      <article>
        <div class="poster"><a href="#"><img src="/media/images/demo/courses/2.png"></a>
          <div class="author"><a href="#author"><img src="/media/images/demo/authors/2.jpg"></a></div>
        </div>
        <div class="details"><a href="#" class="categorie">Web Design</a><a href="#" class="link">Scroll Events Made Easy</a>
          <p>Craig Campbell - 23 Feb 2016</p>
        </div>
      </article>
    </div>
    <div class="col-md-3 col-sm-6">
      <article>
        <div class="poster"><a href="#"><img src="/media/images/demo/courses/3.png"></a>
          <div class="author"><a href="#author"><img src="/media/images/demo/authors/3.jpg"></a></div>
        </div>
        <div class="details"><a href="#" class="categorie">Web Design</a><a href="#" class="link">Scroll Events Made Easy</a>
          <p>Craig Campbell - 23 Feb 2016</p>
        </div>
      </article>
    </div>
    <div class="col-md-3 col-sm-6">
      <article>
        <div class="poster"><a href="#"><img src="/media/images/demo/courses/4.jpg"></a>
          <div class="author"><a href="#author"><img src="/media/images/demo/authors/4.png"></a></div>
        </div>
        <div class="details"><a href="#" class="categorie">Web Design</a><a href="#" class="link">Scroll Events Made Easy</a>
          <p>Craig Campbell - 23 Feb 2016</p>
        </div>
      </article>
    </div>
    <div class="col-md-3 col-sm-6">
      <article>
        <div class="poster"><a href="#"><img src="/media/images/demo/courses/1.png"></a>
          <div class="author"><a href="#author"><img src="/media/images/demo/authors/1.jpg"></a></div>
        </div>
        <div class="details"><a href="#" class="categorie">Web Design</a><a href="#" class="link">Scroll Events Made Easy</a>
          <p>Craig Campbell - 23 Feb 2016</p>
        </div>
      </article>
    </div>
    <div class="col-md-3 col-sm-6">
      <article>
        <div class="poster"><a href="#"><img src="/media/images/demo/courses/2.png"></a>
          <div class="author"><a href="#author"><img src="/media/images/demo/authors/2.jpg"></a></div>
        </div>
        <div class="details"><a href="#" class="categorie">Web Design</a><a href="#" class="link">Scroll Events Made Easy</a>
          <p>Craig Campbell - 23 Feb 2016</p>
        </div>
      </article>
    </div>
    <div class="col-md-3 col-sm-6">
      <article>
        <div class="poster"><a href="#"><img src="/media/images/demo/courses/3.png"></a>
          <div class="author"><a href="#author"><img src="/media/images/demo/authors/3.jpg"></a></div>
        </div>
        <div class="details"><a href="#" class="categorie">Web Design</a><a href="#" class="link">Scroll Events Made Easy</a>
          <p>Craig Campbell - 23 Feb 2016</p>
        </div>
      </article>
    </div>
    <div class="col-md-3 col-sm-6">
      <article>
        <div class="poster"><a href="#"><img src="/media/images/demo/courses/4.jpg"></a>
          <div class="author"><a href="#author"><img src="/media/images/demo/authors/4.png"></a></div>
        </div>
        <div class="details"><a href="#" class="categorie">Web Design</a><a href="#" class="link">Scroll Events Made Easy</a>
          <p>Craig Campbell - 23 Feb 2016</p>
        </div>
      </article>
    </div>
  </div>
</div>
<div class="container">
  <div class="heading single">
    <h2><em class="fa fa-graduation-cap"></em><span>Лучшие авторы</span></h2>
    <div class="center">
      <p>Наш звёздный отряд!</p>
    </div>
  </div>
  <div class="authors row">
    <div class="col-md-4 col-sm-6">
      <article>
        <div class="poster"><a href="#"><img src="/media/images/demo/authors/0.jpg"></a></div>
        <div class="details"><a href="#" class="name">Abraham Tugalov [Priler]</a>
          <div class="status jedi">Jedi</div><a href="#" class="profession">Дизайн сайтов</a>
          <p class="about">Тестовый текст ...</p>
        </div>
      </article>
    </div>
    <div class="col-md-4 col-sm-6">
      <article>
        <div class="poster"><a href="#"><img src="/media/images/demo/authors/1.jpg"></a></div>
        <div class="details"><a href="#" class="name">Jeremy Soul [jeyso]</a>
          <div class="status jedi">Jedi</div><a href="#" class="profession">Дизайн сайтов</a>
          <p class="about">Тестовый текст ...</p>
        </div>
      </article>
    </div>
    <div class="col-md-4 col-sm-6">
      <article>
        <div class="poster"><a href="#"><img src="/media/images/demo/authors/2.jpg"></a></div>
        <div class="details"><a href="#" class="name">Andrew Stark [ironman]</a>
          <div class="status jedi">Jedi</div><a href="#" class="profession">Бизнес</a>
          <p class="about">Тестовый текст ...</p>
        </div>
      </article>
    </div>
    <div class="col-md-4 col-sm-6">
      <article>
        <div class="poster"><a href="#"><img src="/media/images/demo/authors/3.jpg"></a></div>
        <div class="details"><a href="#" class="name">Mark Owen [twen]</a>
          <div class="status jedi">Jedi</div><a href="#" class="profession">Предпринимательство</a>
          <p class="about">Тестовый текст ...</p>
        </div>
      </article>
    </div>
    <div class="col-md-4 col-sm-6">
      <article>
        <div class="poster"><a href="#"><img src="/media/images/demo/authors/4.png"></a></div>
        <div class="details"><a href="#" class="name">Anna Nomac [feldew]</a>
          <div class="status jedi">Jedi</div><a href="#" class="profession">Маркетинг</a>
          <p class="about">Тестовый текст ...</p>
        </div>
      </article>
    </div>
    <div class="col-md-4 col-sm-6">
      <article>
        <div class="poster"><a href="#"><img src="/media/images/demo/authors/5.jpg"></a></div>
        <div class="details"><a href="#" class="name">Jason Havok [havok]</a>
          <div class="status jedi">Jedi</div><a href="#" class="profession">Разработка игр</a>
          <p class="about">Тестовый текст ...</p>
        </div>
      </article>
    </div>
  </div>
</div>
<div class="colored-block special-colored-block">
  <div class="container">
    <div class="heading alternate"><a href="#" class="chevroned">Смотреть все</a>
      <h5>Попробуйте наши<strong> бесплатные курсы</strong></h5>
    </div>
    <div class="courses layout-type-3 row">
      <div class="col-md-4 col-sm-12"><a href="#">
          <article>
            <div class="poster"><img src="/media/images/demo/f1.png"></div><span class="title"> RAW Photo Processing With RawTherapee</span><span class="info">10 lessons, 0.9 hours</span>
          </article></a></div>
      <div class="col-md-4 col-sm-6"><a href="#">
          <article>
            <div class="poster"><img src="/media/images/demo/f2.png"></div><span class="title"> RAW Photo Processing With RawTherapee</span><span class="info">10 lessons, 0.9 hours</span>
          </article></a></div>
      <div class="col-md-4 col-sm-6"><a href="#">
          <article>
            <div class="poster"><img src="/media/images/demo/f3.png"></div><span class="title"> RAW Photo Processing With RawTherapee</span><span class="info">10 lessons, 0.9 hours</span>
          </article></a></div>
    </div>
  </div>
</div>
</div>
{% endblock %}