{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div id="content" class="full-width sign-up-page">
  <div class="container">
    <div class="row">
      <div class="col-md-7"><img src="/media/images/design-time/signup.png"></div>
      <div class="col-md-5">
        <div class="signup-form">
          <div class="heading">
            <h1><em class="fa fa-user"></em><span>Регистрация</span></h1>
          </div>
          <form action="/users/signup" method="POST">
            {% if error %}
              <div class="alert alert-danger">{{error}}</div>
            {% endif %}

            <div class="list">
              <h1>Я</h1>
              <label class="client">
                <input type="radio" name="account_type" value="learner" checked><em class="fa fa-circle-o"></em><em class="fa fa-dot-circle-o"></em><span>Ученик</span>
              </label>
              <label class="orderer">
                <input type="radio" name="account_type" value="mentor"><em class="fa fa-circle-o"></em><em class="fa fa-dot-circle-o"></em><span>Ментор</span>
              </label>
              <div class="about">
                <div class="mentor">Стань ментором, обучай навыкам, рассказывай про технологии, проводи вебинары, пиши уроки. Стань примером для всех!</div>
                <div class="learner">Стань учеником, изучай новые технологии, общайся с менторами в онлайн чате, посещай вебинары. Стань экспертом в своей области!</div>
              </div>
            </div>
            <p class="info">Уже есть аккаунт? <a href="#">Войти.</a></p>
            <div class="form-group">
              <label>Ваш Email</label>
              <input type="email" name="email" value="{{form.email}}" placeholder="you@example.com">
            </div>
            <div class="form-group">
              <label>Придумайте пароль</label>
              <input type="password" name="password" value="{{form.password}}" placeholder="Посложнее">
            </div>
            <div class="form-group submit">
              <button type="submit" class="btn signup-btn">Создать аккаунт и Войти →</button><small>Нажимая на кнопку «Зарегистрироваться», я соглашаюсь с <a href="#">правилами сайта.</a></small>
            </div>
          </form>
          <div class="social-logins">
            <p>Быстрая регистрация!</p><a href="#" class="btn via-vk"><em class="fa fa-vk"></em><span>Vkontakte</span></a><a href="#" class="btn via-fb"><em class="fa fa-facebook"></em><span>Facebook</span></a><a href="#" class="btn via-tw"><em class="fa fa-twitter"></em><span>Twitter</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}