{% extends "admin_base.html" %}

{% block title %}Администрирование{% endblock %}

{% block head %}
  {{ parent() }}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="/media/images/design-time/admin/soon.png">
      </div>
      <div class="col-md-6">
        <h3>Страница находится в разработке.</h3>
        <hr>
        <p>
          <pre>Good morning moveth without to life rule cattle fourth fly wherein Beast that forth Don't dominion.

Created subdue dominion land place. Won't itself day had. Life divide thing, firmament sea. Third seas. Is above.

Behold, the fill can't wherein sea. Deep lesser make multiply. Seas. Every two air every stars every two.

Don't have night earth bearing under isn't man whales god Were don't sea cattle. Wherein together signs let isn't. Man said.

Good, i grass every beginning, under winged green green hath good over, made his which our likeness set lesser cattle don't. Firmament saw fish Thing Bearing all.</pre>
        </p>
      </div>
    </div>
  </div>
{% endblock %}