<div class="container">
  <header>
    <div id="statistics">
      <div><strong>21,642</strong><span>Tutorials</span></div>
      <div><strong>784</strong><span>Video Courses</span></div>
    </div>
    <div id="footer-logo"><img src="/media/images/logo.png">
      <p>Teaching skills to millions worldwide.</p>
    </div>
  </header>
  <div id="widgets">
    <div class="row">
      <div class="col-md-3 col-xs-12">
        <div class="widget">
          <div class="widget-title">Meet Envato</div>
          <div class="widget-content links-list"><a href="#">About Envato</a><a href="#">About Envato</a><a href="#">About Envato</a></div>
        </div>
      </div>
      <div class="col-md-3 col-xs-12">
        <div class="widget">
          <div class="widget-title">Join our Community</div>
          <div class="widget-content links-list"><a href="#">About Envato</a><a href="#">About Envato</a><a href="#">About Envato</a></div>
        </div>
      </div>
      <div class="col-md-3 col-xs-12">
        <div class="widget">
          <div class="widget-title">Help and Support</div>
          <div class="widget-content links-list"><a href="#">About Envato</a><a href="#">About Envato</a><a href="#">About Envato</a></div>
        </div>
      </div>
      <div class="col-md-3 col-xs-12">
        <div class="widget">
          <div class="widget-title">Email Newsletters</div>
          <div class="widget-content">
            <p>Get Envato Tuts+ updates, news, surveys & offers.</p>
            <form action="#" method="POST" class="mailchimp-form">
              <input type="text" placeholder="Email Address">
              <button type="submit">Subscribe</button><a href="#">Privacy Policy</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="copyright">
  <div class="container">
    <div id="socials">
      <p>Follow Envato Tuts+</p>
      <div class="social-links"><a href="#" class="facebook"><em class="fa fa-facebook"></em></a><a href="#" class="twitter"><em class="fa fa-twitter"></em></a><a href="#" class="google"><em class="fa fa-google-plus"></em></a><a href="#" class="pinterest"><em class="fa fa-pinterest"></em></a></div>
    </div>
    <p>© 2016 Envato Pty Ltd. Trademarks and brands are the property of their respective owners.</p>
  </div>
</div>